<div role="navigation" class="navbar navbar-inverse">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">Guestbook</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% if user.is_superuser %}/admin{% else %}#{% endif %}">{{ user.username }}</a></li>
                <li><a href="/logout">Выход</a></li>
            {% else %}
                <li><a href="/login">Вход</a></li>
            {% endif %}

        </ul>
    </div>
</div>