{% extends 'index.html' %}

{% block content %}

    <div class="well well-lg">
        <h2> {{ book.name }} <small> автор: {{ book.author.username }}</small></h2>

        <p>
            {{ book.description }}
        </p>

        {% if book.premoderation %}
            Комментарии к данной книге должны быть одобрены автором
        {% endif %}
    </div>
    <div>
        {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ comment.user | default_if_none:"Гость" }}
                </div>
                <div class="panel-body">
                    <p>{{ comment.text }}</p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        {{ comment.datetime }}

                        {% if moderate and not comment.published %}
                            <span class="pull-right">
                                <a href="/book/moderate/{{ comment.pk }}/publish">Одобрить</a>
                                <a href="/book/moderate/{{ comment.pk }}/delete">Удалить</a>
                            </span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Ваш комментарий</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="/book/{{ book.slug }}">
                {% csrf_token %}
                {{ comment_form.text }}
                <hr>
                <input type="submit" class="btn btn-success pull-right" value="Отправить" />
            </form>
        </div>
    </div>


{% endblock %}