{% extends 'index.html' %}

{% block content %}

    <div class="well well-lg new-book-window center">
        <h2> Новая гостевая книга </h2>

        <form method="post" action="{% url 'create_book' %}">
            {% csrf_token %}
                <table style="width: 100%;">
                    {{ form.as_table }}
                </table>

            <input class="btn btn-success center" type="submit" value="Создать" />
        </form>
    </div>

{% endblock %}