{% extends 'index.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="list-group">

              <a href="#" onclick="return false;" class="list-group-item active">
                Мои книги
              </a>

              {% for book in books %}
                    <a href="/book/{{ book.slug }}" class="list-group-item">{{ book.name }}</a>
              {% endfor %}

            </div>
        </div>

        <div class="col-md-6">
            <button type="button" class="btn btn-success btn-lg center" onclick="location.href='/book/create';">Новая книга</button>
        </div>

    </div>

    <h3>Последняя активность<small> в моих книгах</small></h3>

    <div class="recent-activity">
        {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ comment.user | default_if_none:"Гость" }}
                </div>
                <div class="panel-body">
                    <p>{{ comment.text }}</p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        {{ comment.datetime }} в книге <a href="/book/{{ comment.book.slug }}">{{ comment.book.name }}</a>

                        {% if moderate and not comment.published %}
                            <span class="pull-right">
                                <a href="/book/moderate/{{ comment.pk }}/publish">Одобрить</a>
                                <a href="/book/moderate/{{ comment.pk }}/delete">Удалить</a>
                            </span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endfor %}

        {% if not comments %}
            <p>Нет сообщений</p>
        {% endif %}

    </div>


{% endblock %}