{% load staticfiles  %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Guestbook</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <style type="text/css">
        .login-window {
            width:55%;
            padding: 3% 10%;
        }
        .register-window {
            width:70%;
            padding: 3% 10%;
        }
        .new-book-window {
            width:90%;
            padding: 3% 10%;
        }
        .content {
            margin: 0 20%;
        }
        .center {
            display: block;
            margin: 0 auto;
        }
        .long-text {
            width: 100%;
            height: 150px;
        }
        .recent-activity {
            padding: 20px;
        }
    </style>
</head>
<body>
{% include 'include/header.html' %}

<div class="page-wrapper">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>