{% extends 'index.html' %}

{% block content %}

    <div class="well well-lg login-window center">
        <h3>Добро пожаловать!</h3>
        <br>
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4"><label for="id_username"> Логин: </label></div>
                <div class="col-md-8">{{ form.username }}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><label for="id_password"> Пароль: </label></div>
                <div class="col-md-8">{{ form.password }}</div>
            </div>
            <div>
                {% if form.errors %}
                    <ul class="errorlist">
                        <li>Пожалуйста, введите корректные имя пользователя и пароль. Оба поля могут быть чувствительны к регистру.</li>
                    </ul>
                {% endif %}
            </div>
            <br>
                <div style="margin-left: 40%">
                    <input type="submit" class="btn btn-success" value="Вход" />
                    <a href="/register" class="pull-right"> Регистрация</a>
                </div>

            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

{% endblock %}