{% extends 'index.html' %}

{% block content %}
    
    <div class="well well-lg register-window center">
        <h3>Новый пользователь</h3>
        <br>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6"><label for="id_username"> Имя: </label></div>
                <div class="col-md-6">{{ form.username }}</div>
            </div>
            <div class="row">
                {{ form.username.errors }}
            </div>
            <div class="row">
                <div class="col-md-6"><label for="id_email"> Почта: </label></div>
                <div class="col-md-6">{{ form.email }}</div>
            </div>
            <div class="row">
                {{ form.email.errors }}
            </div>
            <div class="row">
                <div class="col-md-6"><label for="id_password1"> Пароль: </label></div>
                <div class="col-md-6">{{ form.password1 }}</div>
            </div>
            <div class="row">
                {{ form.password1.errors }}
            </div>
            <div class="row">
                <div class="col-md-6"><label for="id_password2"> Подтвердите пароль: </label></div>
                <div class="col-md-6">{{ form.password2 }}</div>
            </div>
            <div class="row">
                {{ form.password2.errors }}
            </div>
{#            <div>#}
{#                {% if form.errors %}#}
{#                    {% for error in form.errors %}#}
{#                        {{ error }}#}
{#                    {% endfor %}#}
{#                    <p style="color: red;">Увы, введенные вами данные не корректны</p>#}
{#                {% endif %}#}
{#            </div>#}
            <br>
            <input type="submit" class="btn btn-success center" value="Регистрация" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

{% endblock %}